{% extends "layout.html" %}

{% block title %}Вхід - Портал Геймера{% endblock %}

{% block content %}
<div class="auth-container panel-box">
    <h1 class="auth-title">Вхід в систему</h1>
    <form action="{{ url_for('login') }}" method="POST" class="auth-form">
        <div class="form-group">
            <label for="email" class="form-label">Логін</label>
            <input type="email" id="username" name="email" class="form-input" required placeholder="Ваш Email">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" id="password" name="password" class="form-input" required>
        </div>
        <button type="submit" class="btn-primary submit-btn">Увійти</button>
    </form>
    <p class="auth-redirect">Ще не маєш акаунту? <a href="{{ url_for('register') }}" class="text-link">Зареєструйся</a></p>
</div>
{% endblock %}